<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--类型别名-->
    <typeAliases>
        <package name="com.jdy.mybatis2020.bean"/>
    </typeAliases>

    <mappers>
        <mapper resource="sqlmap/user.xml"/>
        <mapper resource="sqlmap/userMapper.xml"/>
    </mappers>
    <1
</configuration>